How to ignore outer quotes for all fields when reading CSV?

I am trying to read a csv file formatted similar to the attached file. Each field is surrounded by quotes. When I read the file, is there a way to ignore the outer quotes? 
I am using version 7.1.1

[test.zip](https://github.com/JoshClose/CsvHelper/files/2251369/test.zip)

Thanks.

According to the [documentataion](https://joshclose.github.io/CsvHelper/) CsvHelper follows [RFC 4180](https://tools.ietf.org/html/rfc4180). When following RFC 4180 §2.5 - §2.7 the quotes should automatically disappear.
I cannot download zip files so I cannot look at your data, but check these fallback strategies for malformed quotes: [Malformed Field Fallback](https://joshclose.github.io/CsvHelper/reading/#malformed-field-fallback). Especially the leading whitespace in number 3 could be a reason why your quotes are not automatically removed.

What do you mean by ignoring them? They are a part of the CSV standard. When reading the sample file you provided, the quotes aren't a part of the data you get back.